# Core runtime
numpy
torch
sounddevice
pillow

# Transformers / Models
transformers
accelerate
sentencepiece

# Audio
kokoro
pyaudio
pvporcupine

# UI
eel

# LLM
groq

# Automation / OS control
pyautogui
pywin32
pygetwindow

# Media & Web
pywhatkit
spotipy
